* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
}

header {
    background-color: #c4c4c4;
    width: 100%;
    padding: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

nav {
    background-color: #3b383c;
}

nav ul {
    display: flex;
    padding-left: 1rem;
    list-style-type: none;
}

nav ul li {
    display: flex;
}

nav ul li a {
    padding: 0.5rem 0.75rem;
    color: rgb(192, 192, 192);
    text-decoration: none;
    font-size: 1.25rem
}

nav ul li a:hover {
    color: white;
    transition: all 0.25s ease;
}

.TitleText {
    font-size: 2.5rem;
}

.HeaderText {
    font-size: 1rem;
}

main {
    display: flex;
    width: 100%;
}

section.left,
section.right {
    padding: 2.5rem;
}

section.right h4 {
    font-size: 1.25rem;
    text-align: center;
}

.active {
    color: white
}

section.right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.right p {
    margin: 1rem 0rem;
}

section.left p {
    margin: 0rem -1rem 0rem 0rem;
}

section img {
    width: 500px;
    height: 300px;
}

div.city {
    display: flex;
    padding: 2rem 2rem;
}

section.left h2 {
    font-size: 1.5rem;
}

.number {
    text-align: center;
    color: red;
    font-size: 1.8rem;
}

section.mid {
    padding: 0.5rem 2rem
}

section.bottom {
    padding: 1.3rem 0rem;
}

section.left h2 {
    font-weight: 700;
}

section.bottom h2 {
    font-weight: 700;
}

section.mid h2 {
    font-weight: 700;
}

div.fac {
    margin: 2rem;
}

div.fac p {
    padding-left: 2.5rem;
}

section.left {
    padding: 2rem
}